ul {
    float: contour;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    text-align:center;
}
.navbar ul {
    display:inline-block;
}
.navbar li {
    float: contour;
}
.navbar li + li {
    margin-left:20px;
}

.el-header, .el-footer {
    background-color: #545c64;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

/*------------走马灯------------*/
.el-carousel__item h3 {
    color: #252525;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: rgb(37, 37, 37);
}

.el-carousel__item:nth-child(2n+1) {
    background-color: rgb(37, 37, 37);
}
