<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Active blog list</title>
    <link rel="stylesheet" href="../../styles/active-blog.css">
    <link rel="stylesheet" href="../../styles/icon/iconfont.css">

</head>
<body>
<div id="blog-app">
    <el-col :span="24">
        <div>
            <el-container id="active-blog" v-for="(blogDto) in blogList">
                <el-card shadow="hover" style="border-radius: 5px; width: 900px">
                    <el-header style="height: 50px; line-height: 50px; background-color: #ffffff">
                        <el-link :href="'blog-detail.html?blogId='+ blogDto.blogId"
                                 :underline="false"
                                 style="font-size: 18px ; font-weight: 1000; height: 30px">
                            {{blogDto.blogTitle}}
                        </el-link>
                    </el-header>
                    <el-container>
                        <el-aside width="240px" style="background-color: #ffffff ; line-height: 170px">
                            <a :href="'blog-detail.html?blogId='+ blogDto.blogId">
                                <img :src="'../../images/blog/cover/'+ blogDto.blogCoverImage"
                                     onerror="this.src='../../images/blog/cover/cover.jpg'"
                                     width="220" alt=""/>
                            </a>
                        </el-aside>
                        <el-container>
                            <el-main style="height: 120px;
                                    background-color: #ffffff;
                                    overflow: hidden;
                                    padding-top: 24px;
                                    text-indent: 30px;
                                    text-align: left;
                                    font-size: smaller;
                                    word-break: break-word;
                                    line-height: 30px;">
                                {{blogDto.blogContent}}
                            </el-main>
                            <el-footer style="height: 50px; background-color: #ffffff">
                                <span>
                                    <i class="el-icon-user"></i>
                                    <el-link :href="'user.html?userId='+ blogDto.blogAuthorId"
                                             :underline="false"
                                             style="height: 12px">
                                        {{blogDto.authorName}}
                                    </el-link>
                                </span>


                                <span>
                                    <i class="el-icon-time"></i>
                                    <el-link herf="" :underline="false"
                                             style="height: 12px">{{blogDto.createTime}}</el-link>
                                </span>
                                <span>
                                    <i class="el-icon-view"></i>
                                    <el-link herf="" :underline="false" style="height: 12px">{{blogDto.countReads}}</el-link>
                                </span>
                                <span>
                                    <i class="iconfont">&#xe600;</i>
                                    <el-link herf="" :underline="false" style="height: 12px">{{blogDto.countLikes}}</el-link>
                                </span>
                            </el-footer>
                        </el-container>
                    </el-container>
                </el-card>
            </el-container>
        </div>
    </el-col>
</div>

<!-- 引入组件库 -->
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/index.js"></script>
<script>
    var urlParam1 = requestUrlParam("categoryId")
    var urlParam2 = requestUrlParam("keyWord")
    var urlParam3 = requestUrlParam("userId")
    var urlParam4 = requestUrlParam("likesUserId")
    new Vue({
        var: categoryId = this.urlParam1,
        var: keyWord = this.urlParam2,
        var: userId = this.urlParam3,
        var: likesUserId = this.urlParam4,

        el: "#blog-app",
        data() {
            return {
                blogList: [], // blogDto的集合
            }
        },
        created() {
            // 页面加载完成之后发送异步请求来查询博客数据
            let _this = this;
            // 如果空参，直接查询所有
            if (categoryId == null && keyWord == null && userId == null) {
                axios.get("/blogs/getAllDto").then((resp) => {
                    _this.blogList = resp.data.data;
                })
                // url携带板块id参数，则按照板块id查找
            }else if (categoryId != null) {
                axios.get("/blogs/getByCategoryId/" + categoryId).then((resp) => {
                    _this.blogList = resp.data.data;
                })
                // 携带关键字keyWord，按照关键字查找
            }else if (keyWord != null) {
                axios.get("/blogs/getByKeyWord/" + keyWord).then((resp) => {
                    _this.blogList = resp.data.data;
                })
                // 携带用户id，按照用户id查找
            }else if (userId != null) {
                axios.get("/blogs/getByUserId/" + userId).then((resp) => {
                    _this.blogList = resp.data.data;
                })
            }
        }
    })
</script>
</body>
</html>