/*.el-header{*/
/*    background-color: #B3C0D1;*/
/*    color: #333;*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*}*/

.el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: left;
    line-height: 40px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 80px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    /*text-align: center;*/
    line-height: 120px;
    overflow: hidden;
}

body > .el-container {
    margin-bottom: 40px;
}

/*.el-image__inner {*/
/*    vertical-align: middle;*/
/*}*/

/*a {*/
/*    vertical-align: middle;*/
/*}*/
/*img {*/
/*    vertical-align: middle;*/
/*}*/