.el-table {
    text-align: center;
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #06284d;
    color: #333;
    text-align: center;
    line-height: 35px;
}


.el-main {
    background-color: #61a1e1;
    color: #333;
    text-align: center;
    line-height: 35px;
}

body > .el-container {
    margin-bottom: 40px;
}
