<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Lite Blog 创作者中心</title>
    <link rel="stylesheet" href="../../styles/author.css">
</head>

<body>
<!-- 顶部导航 -->
<div class="headerpage"></div>
<!--顶部导航 over-->
<hr>

<!--中部主体-->
<div id="author-app">
    <el-container >
        <el-container>
            <el-header style="background-color: #ffffff">
                <div class="grid-content bg-purple" style="padding-left: 48%">
                    <el-button type="primary" v-on:click="writeHandle">写一篇博客</el-button>

                </div>
            </el-header>
            <el-main style="height: 1000px; background-color: #ffffff">
                <div class="blog-list" align="center" style="background-color: #ffffff; overflow: hidden">
                    <el-table
                            :default-sort = "{prop: 'createTime', order: 'descending'}"
                            :data="blogList"
                            style="width: min-content; line-height: normal; overflow: hidden">
                        <el-table-column
                                v-if="false"
                                prop="blogId"
                                label="id"
                                width="0">
                        </el-table-column>
                        <el-table-column
                                prop="blogTitle"
                                label="标题"
                                width="300"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="createTime"
                                label="创建时间"
                                width="200"
                                align="center"
                                sortable
                        >
                        </el-table-column>
                        <el-table-column
                                prop="updateTime"
                                label="上次修改"
                                width="200"
                                align="center"
                                sortable
                        >
                            <template slot-scope="scope">
                                {{ scope.row.updateTime == null ? '——' : scope.row.updateTime != null ? scope.row.updateTime: '' }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="categoryName"
                                label="板块"
                                width="200"
                                align="center"
                        >
                        </el-table-column>
                        <el-table-column
                                prop="blogStatus"
                                label="公开状态"
                                width="200"
                                align="center"
                                sortable
                        >
                            <template slot-scope="scope">
                                {{ scope.row.blogAccess == 0 ? '私密' : scope.row.blogAccess == 1 ?'公开': '' }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="blogAccess"
                                label="发布状态"
                                width="200"
                                align="center"
                                sortable
                        >
                            <template slot-scope="scope">
                                {{ scope.row.blogStatus == 0 ? '草稿' : scope.row.blogStatus == 1 ?'已发布': '' }}
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="操作"
                                width="200"
                                align="center"
                        >
                            <template slot-scope="scope">
                                <el-button type="primary" plain @click="editHandle(scope.row.blogId)" size="small"
                                           icon="el-icon-edit">
                                </el-button>
                                <el-button  type="danger" plain @click="deleteHandle(scope.row.blogId)" size="small"
                                           icon="el-icon-delete" style="color: red">
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-main>
        </el-container>
    </el-container>

</div>
<!--中部主体 over-->

<!--footer-->
<div class="footerpage"></div>
<!--footer over-->
<script src="../../js/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $(".headerpage").load("http://localhost:8080/templates/page/main/header.html");
        $(".footerpage").load("http://localhost:8080/templates/page/main/footer.html");
    });
</script>

<!-- 引入组件库 -->
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/blog.js"></script>
<script>
    new Vue({
        el: '#author-app',
        data() {
            return {
                blogList: [],
                blogId: 0
            }
        },
        computed: {},
        created() {
            this.init()
        },
        mounted() {
        },
        methods: {
            // 查找
            async init() {
                // 页面加载完成之后发送异步请求来查询博客数据
                var _this = this;
                axios.get("/blogs/getByAuthorId").then((resp) => {
                    _this.blogList = resp.data.data;
                })
            },
            handleQuery() {
                this.init();
            },
            // 删除
            deleteHandle(blogId) {
                this.$confirm('确认删除该博客, 是否继续?', '确定删除', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                }).then(() => {
                    deleteBlog(blogId).then(res => {
                        if (res.code === 1) {
                            this.$message.success('删除成功！')
                            this.handleQuery()
                        } else {
                            this.$message.error(res.msg || '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },
            // 编辑
            editHandle(blogId) {
                // 跳转到编辑页面，同时携带blogId参数
                window.location.href = "blog-write.html?blogId=" + blogId
            },
            // 新增
            writeHandle(){
                // 跳转到写博客页面
                window.location.href="/templates/page/main/blog-write.html"
            },
            formatter(row, column) {
                return row.address;
            }

        }
    })
</script>
</body>
