<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>写博客/修改博客</title>
    <link rel="stylesheet" href="../../styles/blog-write.css">
    <link rel="stylesheet" href="../../styles/common.css">
</head>
<body>
<!-- 顶部导航 -->
<div class="headerpage"></div>
<!--顶部导航 over-->
<hr>

<!--中部主体-->
<div id="write-app">
    <div class="blogForm">

        <el-container>
            <el-main></el-main>
            <el-aside width="1200px" style="overflow: hidden">
                <el-form :model="blogDto" :rules="rules" ref="blogDto" label-width="80px">
                    <el-form-item label="id" v-if="action === 'edit'" v-show="false">
                        <el-input v-model="blogDto.blogId"></el-input>
                    </el-form-item>
                    <el-form-item prop="blogTitle">
                        <el-input v-model="blogDto.blogTitle" placeholder="请输入文章标题" style="margin-top: 60px"></el-input>
                    </el-form-item>
                    <el-form-item prop="blogContent">
                        <el-input type="textarea" :autosize="{ minRows: 50, maxRows: 9999}"
                                  v-model="blogDto.blogContent"
                                  placeholder="请在这里开始你的创作~"></el-input>
                    </el-form-item>
                    <el-form-item style="padding-top: 40px" prop="blogCategoryId">
                        <el-select v-model="blogDto.blogCategoryId" placeholder="请选择内容板块">
                            <el-option label="商业" value="1"></el-option>
                            <el-option label="军事" value="2"></el-option>
                            <el-option label="文学" value="3"></el-option>
                            <el-option label="科技" value="4"></el-option>
                            <el-option label="艺术" value="5"></el-option>
                            <el-option label="体育" value="6"></el-option>
                            <el-option label="医学" value="7"></el-option>
                            <el-option label="财经" value="8"></el-option>
                            <el-option label="电竞" value="9"></el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
            </el-aside>
            <el-main></el-main>
        </el-container>
        <el-container>
            <el-main></el-main>
            <el-aside width="400px" style="overflow: hidden">
                <el-upload :model="blogDto"
                           class="avatar-uploader"
                           action="/blogs/upload"
                           :show-file-list="false"
                           :on-success="handleAvatarSuccess"
                           style="padding-top: 20px">
                    <img v-if="imageUrl" :src="imageUrl" v-model="blogCoverImage" onerror="this.src='../../images/blog/cover/cover.jpg'" class="avatar" alt="">
                    <i v-else class="el-icon-plus avatar-uploader-icon" style="line-height: 12 ; font-size: smaller">点击上传封面</i>
                </el-upload>
            </el-aside>
            <el-aside width="400px"
                      style="overflow: hidden; display: flex; flex-direction: column; justify-content: center">
                <el-form :model="blogDto" style="display: flex; flex-direction: column">
                    <el-form-item style="margin-left: 30px">
                        <el-switch v-model="blogDto.blogAccess" :active-value="0"
                                   :inactive-value="1" active-text="仅自己可见"
                                   inactive-text=""></el-switch>
                    </el-form-item>
                    <el-form-item style="margin-left: 30px">
                        <el-switch v-model="blogDto.blogStatus" :active-value="0"
                                   :inactive-value="1" active-text="暂存为草稿"
                                   inactive-text=""></el-switch>
                    </el-form-item>
                </el-form>

            </el-aside>
            <el-aside width="400px" style="overflow: hidden">
                <el-form ref="form" :model="blogDto" label-width="80px">
                    <el-form-item style="padding-top: 80px">
                        <el-button type="primary" @click="submitForm('blogDto')">保存</el-button>
                        <el-button type="primary" @click="goBack">取消</el-button>
                    </el-form-item>
                </el-form>
            </el-aside>
            <el-main></el-main>
        </el-container>
    </div>
</div>
<!--中部主体 over-->

<!--footer-->
<div class="footerpage"></div>
<!--footer over-->
<script src="../../js/jquery-3.4.1.min.js"></script>
<script>
    $(function () {
        $(".headerpage").load("http://localhost:8080/templates/page/main/header.html");
        $(".footerpage").load("http://localhost:8080/templates/page/main/footer.html");
    });
</script>
<!--Vue框架-->
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
<script src="../../plugins/element-ui/index.js"></script>
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/index.js"></script>
<script src="../../api/blog.js"></script>
<script>
    var urlParam = requestUrlParam("blogId")
    new Vue({
        var: id = this.urlParam,
        el: '#write-app',
        data() {
            return {
                action: '',
                imageUrl: '',
                blogDto: {
                    blogId: 0,
                    blogTitle: '',
                    blogSubUrl: '',
                    blogCoverImage: '',
                    createTime: '',
                    updateTime: '',
                    blogStatus: 1,
                    blogAccess: 1,
                    blogAuthorId: 0,
                    blogCategoryId: '',
                    blogContent: '',
                    authorName: '',
                    categoryName: ''
                },
                rules: {
                    blogTitle: [
                        {required: true, message: '请输入文章标题', trigger: 'blur'}
                    ],
                    blogContent: [
                        {required: true, message: '请输入文章内容', trigger: 'blur'}
                    ],
                    blogCategoryId: [
                        {required: true, message: '请选择内容板块', trigger: 'change'}
                    ]
                },
            }
        },
        created() {
            var _this = this
            // 判断如果携带参数博客id，则为编辑按钮跳转
            if (id != null) {
                // 发送异步请求获取当前博客的内容
                axios.get("/blogs/" + id).then((resp) => {
                    _this.action = 'edit'
                    // 将返回的数据绑定到相应的位置
                    _this.blogDto = resp.data.data
                    // 将返回的数据blogCategoryId以字符串的形式返回给选框，就可以正常展示label而不是value了
                    _this.blogDto.blogCategoryId = resp.data.data.blogCategoryId.toString();
                    this.imageUrl = '../../images/blog/cover/' + resp.data.data.blogCoverImage
                })
            } else {
                _this.action = 'write'
            }

        },
        methods: {
            init() {
            },
            handleQuery() {
                this.init();
            },
            handleAvatarSuccess(response, file, fileList) {
                this.imageUrl = `/blogs/download?name=${response.data}`
                this.blogDto.blogCoverImage = `${response.data}`
            },
            beforeUpload(file) {
                if (file) {
                    const suffix = file.name.split('.')[1]
                    const size = file.size / 1024 / 1024 < 2
                    if (['png', 'jpeg', 'jpg'].indexOf(suffix) < 0) {
                        this.$message.error('上传图片只支持 png、jpeg、jpg 格式！')
                        this.$refs.upload.clearFiles()
                        return false
                    }
                    if (!size) {
                        this.$message.error('上传文件大小不能超过 2MB!')
                        return false
                    }
                    return file
                }
            },
            // 提交表单
            submitForm(blogDto) {
                this.$refs[blogDto].validate((valid) => {
                    if (valid) {
                        if (this.action === 'write') {
                            var blog = this.blogDto
                            saveBlog(blog).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('博客保存成功！')
                                    window.location.href = "author.html"
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        } else if (this.action === 'edit') {
                            var blog = this.blogDto
                            updateBlog(blog).then(res => {
                                if (res.code === 1) {
                                    this.$message.success('博客保存成功！')
                                    window.location.href = "author.html"
                                } else {
                                    this.$message.error(res.msg || '操作失败')
                                }
                            }).catch(err => {
                                this.$message.error('请求出错了：' + err)
                            })
                        }
                    } else {
                        console.log("valid false")
                        return false;
                    }
                })
            },
            // 保存成功后跳转回创作者中心
            goBack() {
                this.$confirm('您所做的修改将不会保存, 是否离开?', '确定取消', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                }).then(() => {
                    if (this.blogDto.blogCoverImage != null) {
                        // 如果用户已经上传了图片，此时取消操作，也要将临时存储的文件删除
                        console.log("发送删除临时文件请求" + this.blogDto.blogCoverImage)
                        axios.get("/blogs/deleteTempImage/" + this.blogDto.blogCoverImage)
                    }
                    window.location.href = "author.html"
                })
            },
        }
    })
</script>
</body>
</html>