<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/header.css">

</head>
<body>
<div id="header-app">
    <el-container style="height: 75px">
        <el-aside width="480px" style="line-height: 60px; background-color: #ffffff">
            <a href="index.html">
                <img src="../../images/login/lite_blog_logo.jpg" height="50" alt="LOGO"/>
            </a>
        </el-aside>

        <el-main width="960px" style="background-color: #ffffff; line-height: normal; overflow: hidden">
            <div class="grid-content" style="width: 800px">
                <el-button icon="el-icon-search"
                           circle
                           v-on:click="search">
                </el-button>
                <el-input
                        v-model="input"
                        @input="change($event)"
                        placeholder="全站搜索"
                        style="width: 600px"
                        clearable
                        @keyup.enter.native="search"
                >
                </el-input>
            </div>
        </el-main>
        <el-aside width="80px" style="line-height: 70px; background-color: #ffffff; overflow: hidden">
            <el-link href="index.html"
                     icon="el-icon-s-home" :underline="false">首页
            </el-link>
        </el-aside>
        <el-aside width="120px" style="line-height: 70px; background-color: #ffffff; overflow: hidden">
            <el-link href="author.html"
                     icon="el-icon-magic-stick" :underline="false">创作者中心
            </el-link>
        </el-aside>
        <el-aside width="250px"
                  style="line-height: 10px; background-color: #ffffff; vertical-align: auto; overflow: hidden">
            <el-dropdown style="cursor: pointer">
                  <span class="el-dropdown-link">
                      <el-image
                              style="width: 30px; height: 30px; margin-top: 20px; border-radius: 50%; text-align: left;cursor: pointer"
                              onerror="this.src='../../images/user/profile.jpg'"
                              :src="'../../images/user/'+ userInfo.profile"
                              fit="cover"
                              >
                      </el-image>
                      欢迎你，{{userInfo.nickname}}
                  </span>
                <el-dropdown-menu slot="dropdown" style="width: 100px">
                    <el-dropdown-item>
                        <el-link v-on:click="myPage" :underline="false">我的主页</el-link>
                    </el-dropdown-item>
                    <el-dropdown-item>
                        <el-link v-on:click="logout" :underline="false">退出登录</el-link>
                    </el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-aside>
    </el-container>
</div>

<!-- 引入组件库 -->
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/element-ui/index.js"></script>
<link rel="stylesheet" href="../../plugins/element-ui/lib/theme-chalk/index.css">
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/index.js"></script>
<script src="../../api/login.js"></script>

<script>
    new Vue({
        el: "#header-app",
        data() {
            return {
                userInfo: {
                    userId: 0,
                    username: '',
                    password: '',
                    email: '',
                    nickname: '',
                    birthday: '',
                    gender: undefined,
                    address: '',
                    resume: '',
                    profession: '',
                    profile: '',
                }
            }
        },
        computed: {},
        created() {
            this.userInfo.nickname = JSON.parse(localStorage.getItem('userInfo')).nickname
            this.userInfo.profile = JSON.parse(localStorage.getItem('userInfo')).profile
            console.log(JSON.parse(localStorage.getItem('userInfo')))
        },
        mounted() {

        },
        methods: {
            handleQuery() {
                this.init();
            },
            search() {
                var keyWord = this.input.trim();
                window.location.href = "/templates/page/main/index.html?keyWord=" + keyWord
            },
            myPage() {
                // 获取当前登录用户的id
                let userId = window.sessionStorage.getItem('userId')
                console.log("userId是" + userId)
                window.location.href = "/templates/page/main/user.html?userId=" + userId
            },
            logout() {
                logoutApi().then((res) => {
                    if (res.code === 1) {
                        localStorage.removeItem('userInfo')
                        sessionStorage.removeItem('userId')
                        window.location.href = '/templates/page/login/login.html'
                    }
                })
            }
        }
    })
</script>
</body>
